@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");


img{align-self:center;}
@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */
body {
  background-color:rgba(204, 191, 191, 0.486);

.img1 {display:flex;
    flex-direction:column;
  justify-content:center;
}
  
.img2 {display:flex;
  flex-direction:column;
justify-content:center;
}

.img3{display:flex;
  flex-direction:column;
justify-content:center;
}


h1 {
  font-family: "SF Distant Galaxy";
  color:yellow;
}

.nav1{display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:yellow;}


/* computer */
@media screen and (min-width: 600px) {

  .img1{display:flex;
    flex-direction:row;
    justify-content:center;}
    
    .img2{display:flex;
      flex-direction:row;
      justify-content:center;}
    
      .img3{display:flex;
        flex-direction:row;
        justify-content:center;}
    
    /* .1{display:flex;
      justify-content:flex-start;} */





.nav1{display:flex;
  flex-direction:row;
justify-content:space-evenly;
}


nav{color:yellow;}



}


